/* Tailwind CSS v3.3.0 */
@tailwind base;

@tailwind components;

@tailwind utilities;

/* Custom Global Style */
@layer base {
  header,
  main,
  footer {
    width: 100%;
  }
}

@layer components {
}

@layer utilities {
  .link {
    @apply bg-transparent py-2 px-4 inline-block rounded-md cursor-pointer duration-200 ease-in-out text-black font-semibold hover:text-primary-500 hover:bg-slate-200 active:scale-90;
  }
}
